@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
    color: #10a37f;
}
.input-color {
 color: #353740;
}
/* .container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.01);
} */

@layer base {
    body {
        @apply bg-gray-100 font-primary
    }
}